{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}
<div class="p-3 my-3 bg-white">
  <h1><a href={{ get_url(post.url) }}>{{ post.title }}</a></h1>
  <div class="text-muted pb-1">{{ post.date }}</div>
  <div class="body">
    {{ post.content }}
  </div>
  <div>{% if post.tags %} Posted in:
    {% for tag in post.tags %}<a href="{{ get_url(posts.tags[tag].url) }}">{{ tag }}</a>
    {% if not loop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}