{% extends 'layout.html' %}


{% set title = archive.year ~ ' : Archives : Blog' %}

{% block breadcrumbs %}
    <ul id="breadcrumbs">
        <li><a href="{{ get_url() }}">Blog</a></li>
        <li><a href="{{ get_url('archives/') }}">Archives</a></li>
        <li>{{ archive.year }}</li>
    </ul>
{% endblock %}

{% block content %} 
    {% for archive in container.archives|values %}
    <h1>{{ archive.year }}</h1>
    <ul>
        {% for month, items in archive.months|items %}
            <li>
                <h1>{{ month }}</h1>
                <ul>
                    {% for item in items %}
                        <li>{{ item.timestamp|date('%d') }} – <a href="{{ get_url(item.url) }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
